body{
	color: #7A4C61;
	background-color: #F4F4F4;
}

header{
	height:135px;
	background-image: url('../images/floriane/banner.jpg');
	background-repeat:no-repeat;
}

.logo{
	margin-top: -10px;
	margin-left: 25px;
	width: 125px;
	height: 156px;
}

.accroche{
	margin-left:15px;
	color: #FFFFFF;
	font-size: 0.9em;
}

.soustitre{
	margin-top: -20px;
}

h1{
	color: #7A4C61;
}

h2{
	color: #CAD91A;
}

h3{
	color: #7A4C61;
}

h5{
	color: #7A4C61;
}

#contenu{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.carte{
	background-color: white;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.carte2{
	background-color: white;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

#myCarousel{
	margin-right: 20px;
}

.carousel-inner {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    border: 5px solid white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

a{
	color: #7A4C61;
	text-decoration:none; 	
}

a:hover{
	color: #CAD91A;
	text-decoration:none; 	
}

.bordure{
	border-width:1px;
	border-style:solid;
	border-color:black;
	padding:15px;
}

.archiveannee{
	
}

.archivemois{
	text-indent:30px
}

.archiveelement{
	text-indent:60px
}

.basarticle{
	background-color: #F1F2F2;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.fondjaune{
	background-color: #CAD91A;
}


.newlabel{
	font-weight: bold;
	color: #CAD91A;
}

.numero{
	width:65px;
	height:60px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	background-color: #CAD91A;
	-webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    margin: 10px;
}
